body {
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: grayscale;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #333;
  font-size: 1.2em;
  line-height: 1.4;
  font-family: serif;
}

::selection {
  background: #333;
  color: #fff;
}
::-moz-selection {
  background: #333;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border: 0px none #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

::-webkit-scrollbar-thumb:active {
  background: #aaa;
}

::-webkit-scrollbar-track {
  border: 0px none #fff;
  border-radius: 0;
  background: #fff;
}

::-webkit-scrollbar-track:hover {
  background: #f7f7f7;
}

::-webkit-scrollbar-track:active {
  background: #fff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  margin-top: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #ffa741;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #ffc37d;
}
